body{
    font-family: "Courier New", serif;
    color: green;
    font-size: 16px;
}

h1, h2, h3, h4,
strong{
    font-family: 'Special Elite', "Courier New", serif;
}


h1{
    font-size: 5rem;
}
strong{
    font-size: 1.1em;
}

.navbar-brand{
    height: auto;
}

ul li {

}
li {
    list-style: none;
}

.textareaContent {
    width: 100%;
    height: 200px;
    background-color: #008000 ;
    border: none;
    color: white;
}


.niv1 {
    color: #2a9fd6;
}

.niv2, svg.btn-edit2 {
    color: #9933cc;
}

.niv3, svg.btn-edit3 {
    color: #a85a00;
}

.fa-times {
    color: #a84a43;
}

.btn-delete {
    float: left;
    background-color: #222;
    border: none;
}

li.clear {
    clear: both;
}